.tip {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 10;
  border-radius: 1.2rem;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(50, 50, 50, 1);
  padding: 25px;
  width: 300px;
  animation: tip-appear 0.33s ease-out forwards;
  color: white;
  font-size: 18px;
  font-weight: 500;
  will-change: transform;
  user-select: none;
}

.tip p {
  text-align: center;
}

.tip .tip__target { 
  color: rgba(255, 255, 255, 0.7);
}

.tip .tip__action {
  color: rgba(255, 255, 255, 0.9);
}

.tip .tip__effect {
  color: rgba(255, 255, 255, 0.9);
}

@keyframes tip-appear {
  from {
    transform: translate(calc(50vw + 33%), calc(-50vh)) scale(0.25);
  }
  to {
    transform: translate3d(50%, -50%, 0) scale(1);
  }
}
